{% extends 'base.html' %}
{% block conteudo %}
<h2>Menu Principal</h2>

<h3>Gerenciar Produtos</h3>
<ul>
    <li>
        <a href="{{ url_for('listar_produtos') }}">Ver Produtos Cadastrados</a>
    </li>
    <li>
        <a href="{{ url_for('add_produto') }}">Adicionar Novo Produto</a>
    </li>
</ul>

<h3>Gerenciar Clientes</h3>
<ul>
    <li>
        <a href="{{ url_for('listar_clientes') }}">Ver Clientes Cadastrados</a>
    </li>
    <li>
        <a href="{{ url_for('add_cliente') }}">Adicionar Novo Cliente</a>
    </li>
</ul>
{% endblock %}